body {
    margin: 0;
}

ul {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    flex: 1;

}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 50px;
}

.menu {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
}

.menu ul {
    display: flex;
    flex-direction: row;
    padding: 15px;
    list-style-type: none;
    margin: 0;
}

.menu li {
    padding-left: 30px;
    padding-right: 30px;
}
.content {
    display: flex;
    flex-direction: row;
    flex: 7;
    height: 1050px;
}

.right-section {
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex: 1;


}

.right-title,
.left-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.left-title {
    margin-left: 20px;
}

.right-section ul,
li {
    list-style-type: none;
    margin: 0;
}

.right-section li {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    border-bottom: 1px solid black;

}

.left-section {
    flex: 7;
    background-color: lightblue;
}

.product {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 30px;
    grid-column-gap: 60px;
    grid-row-gap: 80px;
}

.name {
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

.product-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100px;
}

.camera {
    background-color: lightpink;
}

.type {
    font-size: 20px;
}

.arlet {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.add-button {
    padding: 10px;
    border-radius: 100px;
    border: none;
    background-color: lightblue;
}