* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: inline;
}

.header {
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: lightblue;
    background-color: grey;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: bold;
    padding-top: 40px;
    padding-right: 30px;
}

.menu {
    background-color: black;
    height: 50px;
}

.root {
    display: flex;
    line-height: 50px;
}

.root li a {
    color: white;
    text-decoration: none;
    padding: 40px;
}

.root li a:hover{
    color: red;
}
.newul {
    background-color: black;
    display: none;
    position: absolute;
    margin-top: 1px;
    list-style-type: none;
}
.newul li a {
    color:white;
}
.root .newli:hover .newul {
    display: block;
}


.content {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.left-section {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.left-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.item li {
    padding: 25px;
    border-bottom: 1px solid black;
    text-decoration: none;
}
.item li a {
    font-size: 20px;
    text-decoration: none;
}
.item li a:hover {
    color: blue;
}
.itemli {
    display: flex;
    background-color: white;
}

.itemli2 {
    margin-left: 175px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    display: none;
    list-style-type: none;
}
.item .itemli:hover .itemli2 {
    display: block;
}
.itemli3 {
    display: flex;
    background-color: white;
}
.itemli4 {
    margin-left: 142px;
    width: 190px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    display: none;
    list-style-type: none;
}
.item .itemli .itemli2 .itemli3:hover .itemli4 {
    display: block;
}

.right-section {
    background-color: bisque;
    border: 1px solid black;
}

.right-title {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.product {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.camera {
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
}

.name {
    padding-top: 15px;
    color: blue;
}

.product-img {
    height: 250px;
    width: 250px;
}

.arlet {
    color: red;
}

.add-button {
    border: 1px solid black;
    background-color: bisque;
    border-radius: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    font-weight: bold;
}
.thanks {
    font-size: 30px;
    color: red;
}
.address {
    margin: 10px;
}
.social-media {
    font-size: 20px;
    color: orange;
}